extends layout

block content
    section(class="section")
        .container

        h1.title КвоккаКвиз

        .columns
            .column
                article.message.is-warning
                    .message-body
                        | КвоккаКвиз отлично подходит для частных школ, у которой нет привязки к государственной образовательной платформы

            .column
                article.message.is-primary
                    .message-body
                        | Стоимость интеграции всегда остается открытой. Вы можете приобретать квизы и дополнительные опции к ним. Цены стартуют всего от 199₽

            .column
                article.message.is-success
                    .message-body
                        | Мы предлагаем гибкие и удобные инструменты для создания проверочных и домашних работ, а также круглосуточную систему поддержки

        h2.subtitle Полезные навыки для учеников

        .columns
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/free-vector/team-of-specialists-with-magnifier-and-laptop-and-arrow-digital-marketing-ppc-campaign-customer-relationships-concept-on-white-background_335657-1699.jpg?size=626&ext=jpg&ga=GA1.1.1908636980.1711756800&semt=ais' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Критическое мышление
                        .content
                            | Учащиеся анализируют вопросы и ответы, что помогает им развивать способность критически оценивать информацию
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/premium-vector/people-taking-care-of-vegetables-as-a-concept-of-vegetarianism-vegetarian-diet-meat-abstaining-healthy-lifestyle_335657-4389.jpg' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Концентрация внимани
                        .content
                            | Выполнение заданий требует сосредоточенности и концентрации, что помогает улучшить внимание
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/free-vector/businessman-sets-goals-and-runs-up-on-graph-columns-for-success-on-time-self-management-self-regulation-learning-self-organization-course-concept-illustration_335657-2070.jpg?size=626&ext=jpg&ga=GA1.1.1908636980.1711929600&semt=ais' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Тайм-менеджмент
                        .content
                            | Ограниченное время на выполнение квизов учит учащихся эффективно распределять своё время
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/free-vector/business-operation-planning-software-technology-integration_335657-3131.jpg' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Работа в команде
                        .content
                            | Некоторые квизы могут выполняться в группах, что способствует развитию навыков командной работы

        hr

        .content.is-normal
            h2 Почему именно КвоккаКвиз?

            p В современном образовательном пространстве существует множество платформ для проведения квизов и интерактивных уроков, но КвоккаКвиз выделяется среди них благодаря ряду уникальных преимуществ. Во-первых, КвоккаКвиз предлагает интуитивно понятный интерфейс, который позволяет учителям и ученикам быстро освоиться с платформой и начать продуктивную работу без долгого обучения. Это особенно важно в условиях ограниченного времени на уроках.
            p Во-вторых, КвоккаКвиз предоставляет обширную библиотеку готовых квизов по различным предметам, что значительно экономит время учителя на подготовку. Более того, платформа поддерживает возможность создания кастомизированных квизов, что позволяет адаптировать учебный материал под индивидуальные потребности класса и каждого ученика.
            p Одним из ключевых преимуществ КвоккаКвиз является его аналитическая система. Платформа предоставляет детализированные отчеты о результатах учеников, что помогает учителям быстро выявлять слабые места и корректировать учебный процесс. Это делает обучение более эффективным и целенаправленным. Кроме того, КвоккаКвиз активно поддерживает геймификацию обучения. Интерактивные элементы и соревновательный дух мотивируют учеников к активному участию и повышают их интерес к учебе. Возможность работать в командах развивает навыки сотрудничества и коммуникации, что является важным аспектом современного образования.
            p Наконец, КвоккаКвиз обладает высокой степенью безопасности данных, что гарантирует конфиденциальность информации об учениках и их результатах. Это особенно важно в условиях возрастающей цифровизации образовательного процесса. В совокупности все эти факторы делают КвоккаКвиз оптимальным выбором для образовательных учреждений, стремящихся к качественному и современному обучению.

            h2 Полезная статистика
            p Мы тчательно собирали статистику от учеников и учителей в течении нескольких месяцев, чтобы добится максимальной точности и эффективности. Сейчас мы готовы показать, что получилось:
            ul
                li 56% - Рост количества загруженных вопросов и тем для игр
                li 92% - Уровень повышения мотивации учеников к обучению
                li 54% - Повышение профессионального роста учителей
                li 69% - Увеличение числа тематических мероприятий и конкурсов

        hr

        h2.subtitle Плюсы использования для учителей

        .columns
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/premium-vector/stages-obtaining-diploma-distance-education_82574-5305.jpg' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Понятный интерфейс
                        .content
                            | Простота в использовании позволяет учителям быстро освоить платформу и начать работу без необходимости длительного обучения
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/free-vector/computer-gaming-industry-cybersport-training-esports-coaching-lessons-with-pro-gamers-esports-coaching-platform-play-like-a-pro-concept_335657-822.jpg' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Геймификация обучения
                        .content
                            | Интерактивные элементы и соревновательный дух мотивируют учеников к активному участию, повышая их интерес к учебе
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/free-vector/privacy-engineer-at-laptop-with-shield-improving-level-of-systems-privacy-privacy-engineering-privacy-centric-model-personal-data-defence-concept_335657-2426.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1714348800&semt=ais' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Безопасность данных
                        .content
                            | Платформа обеспечивает конфиденциальность информации об учениках и их результатах, что важно в условиях цифровизации образования
            .column
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src='https://img.freepik.com/premium-vector/people-reading-books_179970-1129.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1714176000&semt=ais' alt='Placeholder image' height="100")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 Дистанционное обучение
                        .content
                            | КвоккаКвиз отлично подходит для проведения уроков и квизов в дистанционном формате, что особенно актуально для некоторых учеников

        .box
            | Для подключения к платформе - напишите на почту <strong>hi@quokkaquiz.ru</strong>

        a.button.is-link.mt-3(href="/")
            | На главную